@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply mx-auto w-[10/14]
}
.component {
    @apply mx-auto w-[8/12]
}

body {
    background-color: #fff;
    /* height: 200vh; */
}

.parent_image:hover .imageee{
    transition: .3s;
    transform: scale(1.1);
    
}
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #E1E1E1;
    border-radius: 8px;
}