@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Geologica-Regular';
    src: url('./assets/Fonts/static/Geologica-Regular.ttf') format('truetype');
         /* url('./assets/Fonts/static/') format('woff'), */
         /* url('../fonts/GeneralSans-Variable.ttf') format('truetype'); */
         font-weight: 200 !important;
         font-display: swap;
         font-style: normal;
  }
  
.container {
    @apply mx-auto w-[10/14]
}
.component {
    @apply mx-auto w-[8/12]
}

body {
    background-color: #fff;
    /* height: 200vh; */
}
.innerHtml img{
    /* width: 100% !important; */
    /* margin: auto !important; */
    @apply mx-auto h-auto max-w-max flex
    /* max-width: max-content !important; */
    /* height: auto !important; */
}
.innerHtml p{
    @apply text-xl  text-[16px] leading-5 
}
.uppercase{
    text-transform: uppercase;
}
.innerHtml a {
    color: #184CD3;
}
.innerHtml .image {
    /* width: 100px; */
    margin: auto;
}
.databg{
    opacity: 1 !important;
}
.nowrap{
    white-space: nowrap
}
.parent_image:hover .imageee{
    transition: .3s;
    transform: scale(1.1);
    
}
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #E1E1E1;
    border-radius: 8px;
}